<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.VegaSolutions.lpptransit">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".TravanaApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_dark"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_dark_round"
        android:supportsRtl="true"
        android:theme="@style/WhiteTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.activities.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme.NoActionBar" />
        <activity android:name=".ui.activities.DetourActivity" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DarkTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.lpp.DepartureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.lpp.RouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.lpp.StationActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>